/* You can add global styles to this file, and also import other style files */

@import "./app/SASS-utils/utils";
html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Lato";
    font-weight: 400;
    color: $color-tertiary;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: transparent;
    border-radius: $border-pill-shape-value;
    width: 15px;
}

::-webkit-scrollbar-button {
    background-color: $color-tertiary;
    border-radius: $border-pill-shape-value;
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    border-radius: $border-pill-shape-value;
    border: 1px solid $color-secondary;
    &:hover {
        background-color: darken($color-primary, 10%);
    }
    &:active {
        background-color: lighten($color-primary, 10%);
    }
}

::-webkit-scrollbar-track {
    border-radius: $border-pill-shape-value;
}

::-webkit-scrollbar-track-piece {
    background-color: $color-secondary;
    border-left: 2px dashed $color-primary;
}

::-webkit-scrollbar-corner {
    background-color: $color-tertiary;
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: $color-primary $color-secondary;
        scrollbar-width: thin;
    }
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
}

a {
    text-decoration: none;
    color: black;
    &:visited {
        color: black;
    }
}