@import "../SASS-utils/utils";
.header {
    background-color: green;
    height: 100px;
    overflow: hidden;
    @include mobile-only {
        display: flex;
        justify-content: center;
    }
    &__image {
        aspect-ratio: 1;
        height: 200px;
        margin-left: 20px;
        object-position: -25px -50px;
    }
}