<div class="comment" [attr.data-userId]="commentUserId" [attr.data-commentId]="commentCommentId" tabindex="0">
    <h3 class="comment__username">{{ commentEmail }}</h3>
    <p class="comment__comment">{{ commentComment }}</p>
    <div class="comment__modify" *ngIf="commentUserId === userId ">

        <button title="Supprimer le post" class="comment__delete--mobile" (click)="deleteComment()">
            <i class="fas fa-trash-alt"></i>
        </button>
        <input type="button" value="Supprimer" class="comment__delete" (click)="deleteComment()" />
    </div>

</div>