@import "../SASS-utils/utils";
.comment {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    margin-bottom: 10px;
    background-color: $color-secondary;
    color: $color-tertiary;
    margin: 2% 5px;
    &__username {
        margin: 5px 0 2% 5%;
    }
    &__comment {
        white-space: break-spaces;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px 0;
        margin: 0 0 2% 5px;
        font-size: 1rem;
    }
}