<main class="container container--rounded">
    <div class="container__card container__card--rounded">
        <div class="container__image-container">
            <img src="../../assets/icon.webp" alt="Icone de Groupomania" class="container__image" />
        </div>
        <div class="container__text">
            <h2 class="container__heading2">Bienvenue sur Groupomania</h2>
        </div>

        <form class="container__form" [formGroup]="signupForm">
            <fieldset class="container__fieldset fieldset">
                <legend class="fieldset__legend">
                    Veuillez renseigner ces champs:
                </legend>
                <p class="container__input--invalid-email" *ngIf="
            emailRegex.test(signupForm.value.user_email) === false &&
            signupForm.value.user_email != null
          ">
                    Email pas au bon format!
                </p>
                <input type="text" class="container__input" placeholder="Email" required formControlName="user_email" title="Champ de saisie d'email" />
                <p class="container__input--invalid-password" *ngIf="
            passwordRegex.test(signupForm.value.user_password) === false &&
            signupForm.value.user_password != null
          ">
                    Mot de passe pas assez robuste!
                </p>
                <input type="password" class="container__input password__input" placeholder="Mot de passe" required id="password" formControlName="user_password" title="Champ de saisie de mot de passe" />
                <button type="submit" class="container__button" (click)="onSubmitForm()" [disabled]="signupForm.invalid" [ngClass]="{ 'container__button--disabled': signupForm.invalid }">
          S'inscrire
        </button>
            </fieldset>
        </form>

        <!-- <ol class="">
            <p>Le mot de passe doit comporter au moins:</p>
            <li>Une lettre majuscule</li>
            <li>Deux nombres</li>
            <li>Un symbole</li>
        </ol> -->
        <div class="already-signed-up-container">
            <a class="container__already-signed-up" routerLink="/login">
        Êtes-vous déjà inscrit?
      </a>
        </div>

        <div class="error-form" *ngIf="">
            <i class="fas fa-times-circle error-form__icon"></i>
            <p class="error-form__text" *ngIf="">
                L'email : {{ signupForm.value.user_email }} n'est pas au format [pseudonyme]@[domaine].[extension]
            </p>

            <p class="error-form__text" *ngIf="">
                L'email : {{ signupForm.value.user_email }} est déjà enregistrée
            </p>
        </div>
    </div>
</main>