<section class="post__container" [attr.data-postId]="postPostId" [attr.data-userId]="postUserId" tabindex="0" role="region" aria-label="Section post">
    <header class="post__header">
        <div class="post__info">
            <p class="post__date">
                Daté du: {{ postCreationDate | date: "dd/MM/yyyy" }}
            </p>
            <p class="post__number-of-likes">
                {{ postAmountOfLikes }} {{ hasPostOneLikeOrManyLikes }}
            </p>

            <div class="dialog__parent" *ngIf="postUserId === userId">
                <input type="button" value="Modifier" class="post__modify" (click)="modifyPost()" />
                <button title="Modifier le titre, description ou image" class="post__modify--mobile" (click)="modifyPost()">
          <i class="fas fa-edit"></i>
        </button>
                <button title="Supprimer le post" class="post__delete--mobile" (click)="deletePost()">
          <i class="fas fa-trash-alt"></i>
        </button>
                <input type="button" value="Supprimer" class="post__delete" (click)="deletePost()" />
            </div>
        </div>
        <div class="post__content">
            <div class="post__text-container">
                <!-- <h2 class="post__title">Dimension MAX des posts (w×h): 500×530</h2> -->
                <h2 class="post__title" [title]="postTitle">
                    {{ postTitle }}
                </h2>
                <p class="post__description">
                    {{ postDescription }}
                </p>
            </div>
            <div class="post__image-container" *ngIf="postImageUrl !== null">
                <img [src]="postImageUrl" alt="Image de post" *ngIf="postImageUrl !== null" loading="lazy" />
                <!-- <img src="https://i.imgur.com/h564JHS.jpg" alt="bruh" /> -->
            </div>
        </div>
    </header>
    <div class="container__interactions-row">
        <p class="interactions-row__like" (click)="sendLikeToPost(postPostId, userId)" [ngClass]="{
        'interactions-row__like--active':
          likedOrUnlikedMessage === 'The post has been liked (+1)'
      }">
            Like <i class="far fa-thumbs-up"></i>
        </p>
        <p class="interactions-row__share">
            Partager<i class="fas fa-share-alt"></i>
        </p>
    </div>

    <div class="comment">
        <form [formGroup]="commentForm" class="comment__form">
            <fieldset class="comment__fieldset">
                <legend class="comment__legend">Postez un commentaire</legend>
                <input type="text" placeholder="Écrivez un commentaire" formControlName="comment" class="comment__input" />
                <button type="submit" (click)="onSubmitComment()" [ngClass]="{ 'comment__button--disabled': commentForm.invalid }" [disabled]="commentForm.invalid" class="comment__button">
          Envoyer
        </button>
            </fieldset>
        </form>
        <aside class="comments">
            <app-post-comments *ngFor="let commentElement of commentsArray" [comment]="commentElement"></app-post-comments>
        </aside>
    </div>
</section>